.skills{
    margin: 0 6rem 6rem 6rem;

}
.skills__title{
    text-align: center;
    font-size: 2rem;
    text-shadow: 1px 1px 2px black;
    padding: 1.3rem;
}
.skills__line{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.skills__box{
    display: flex;
    padding: 3rem;
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    width: 15%;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 5px 5px black;
}
.skills__img{
display: flex;
align-items: center;
justify-content: center;
}
.skills__img__logo{
    width: 2rem;
}
.skills__name{
padding: 1rem;
text-shadow: 1px 1px 2px black;
}

/* RESPONSIVIDAD */

@media screen and (max-width: 1023px){
    .skills{
        margin: 1rem;
    }
.skills__line{
    margin-top: 0rem;
}
.skills__box{
    padding: 2rem;
    width: 10%;
}
.skills__name{
    padding: 0rem;
}
}

@media screen and (max-width: 767px){
.skills__line{
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
}
.skills__box{
    margin: 0.5rem;
    padding: 1rem;
    width: 75%;
}
}
